<%= form_for([:admin,@address],html: {class: "form-horizontal", role: "form", multipart: true}) do |f| %>
  <div class ="form-group">
    <label class="col-sm-2 control-label">用户名:</label>
    <div class="col-sm-4">
      <%= f.select :user_id, user_list, { selected: f.object.user_id }, class: 'form-control'%>
    </div>
  </div>
  <div class ="form-group">
    <label class="col-sm-2 control-label">收货人:</label>
    <div class="col-sm-4">
      <%= f.text_field :receive_name, class: 'form-control' %>
    </div>
  </div>
  <div class ="form-group">
    <label class="col-sm-2 control-label">电话:</label>
    <div class="col-sm-4">
      <%= f.text_field :receive_phone, class: 'form-control' %>
    </div>
  </div>
  <div class ="form-group">
    <label class="col-sm-2 control-label">所在区域:</label>
    <div class="col-sm-4">
      <%= f.text_field :area, class:"form-control" %>
    </div>
  </div>
  <div class ="form-group">
    <label class="col-sm-2 control-label">详细地址:</label>
    <div class="col-sm-4">
      <%= f.text_field :detail, class:"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-4">
      <button class="btn btn-success" type="submit">
        <span class="glyphicon glyphicon-floppy-save">保存</span>
      </button>
      <button class="btn btn-success" type="button" onclick="javascript:history.go(-1);">
        <span class="glyphicon glyphicon-hand-left">返回</span>
      </button>
    </div>
  </div>
<% end %>