<div class="col-sm-offset-3">
  <h2>注册用户</h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal"}) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <label class="col-sm-2 control-label">用户名:</label>
    <div class="col-sm-4">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">邮箱:</label>
    <div class="col-sm-4">
      <%= f.email_field :email, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">角色:</label>
    <div class="col-sm-4">
      <%= f.select :role, [["推广管理员", "spreader"], ["普通管理员", "user"], ["一级管理员", "editor"], ["超级管理员", "admin"]], {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">推广人员:</label>
    <div class="col-sm-4">
      <% options = Promoter.latest.pluck(:name, :id) %>
      <%= f.select :promoter_id, options.insert(0,["选择推广人员",""]), {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">密码:</label>
    <div class="col-sm-4">
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      <label class="control-label">（密码至少为8位）</label>
    </div>
    <% if @validatable %>
      <span class="help-block"><%= @minimum_password_length %> characters minimum</span>
    <% end %>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">确认密码:</label>
    <div class="col-sm-4">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-4">
      <%= f.submit "注册", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<script>
  $("#member_role").change(function(){
    $('.form-group').removeClass('hidden');
    var $this=$(this);
    if ($this.val() != 'spreader') {
      $('#member_promoter_id').parent().parent().addClass('hidden');
      $('#member_promoter_id').val('');
    }
  });
</script>
