<%= form_for([:admin,@order],html: {class: "form-horizontal", role: "form", multipart: true}) do |f| %>
  <div class ="form-group">
    <label class="col-sm-2 control-label">用户:</label>
    <div class="col-sm-4">
      <%= f.select :user_id, user_list,{}, class: 'form-control' %>
    </div>
  </div>
  <div class ="form-group">
    <label class="col-sm-2 control-label">状态:</label>
    <div class="col-sm-4">
      <%= f.select :state, order_state,{}, class: 'form-control' %>
    </div>
  </div>
  <div class ="form-group">
    <label class="col-sm-2 control-label">电话:</label>
    <div class="col-sm-4">
      <%= f.text_field :phone_num, class:"form-control" %>
    </div>
  </div>
  <div class ="form-group">
    <label class="col-sm-2 control-label">收货人名称:</label>
    <div class="col-sm-4">
      <%= f.text_field :receive_name, class:"form-control" %>
    </div>
  </div>
  <div class ="form-group">
    <label class="col-sm-2 control-label">所在区域:</label>
    <div class="col-sm-4">
      <%= f.text_field :area, class: 'form-control' %>
    </div>
  </div>
  <div class ="form-group">
    <label class="col-sm-2 control-label">详细地址:</label>
    <div class="col-sm-4">
      <%= f.text_field :detail, class: 'form-control' %>
    </div>
  </div>
  <div class ="form-group">
    <label class="col-sm-2 control-label">发货时间:</label>
    <div class="col-sm-4">
      <%= f.text_field :delivery_time, class: "form-control datetimepicker" %>
    </div>
  </div>
  <div class ="form-group">
    <label class="col-sm-2 control-label">完成时间:</label>
    <div class="col-sm-4">
      <%= f.text_field :complete_time, class: "form-control datetimepicker" %>
    </div>
  </div>
  <% @order.orders_products.each_with_index do |op, i| %>
    <%= f.fields_for :orders_products, op do |opro| %>
      <%= opro.hidden_field :id, name: "order[orders_products_attributes][][id]" %>
      <div class="form-group col-sm-7">
        <label class="col-sm-4"><%= op.product.try(:name) %>:</label>
        <div class="col-sm-2">
          <%= opro.text_field :product_num, class: 'form-control', name: "order[orders_products_attributes][][product_num]" %>
        </div>
        <label class="col-sm-1 control-label">个</label>
      </div>
      <div class="form-group col-sm-5">
        <label class="col-sm-2 text-left">单价:</label>
        <div class="col-sm-3">
          <%= opro.text_field :product_price, class: 'form-control', name: "order[orders_products_attributes][][product_price]" %>
        </div>
        <label class="col-sm-1 control-label">元</label>
      </div>
    <% end %>
  <% end %>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-4">
      <button calss="btn btn-success" type="submit">
        <span class="glyphicon glyphicon-floppy-save">保存</span>
      </button>
      <button calss="btn btn-success" type="button" onclick="javascript:history.go(-1);">
        <span class="glyphicon glyphicon-hand-left">返回</span>
      </button>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  <% if edit_disabled(@order.state) %>
    $('input').attr('disabled', true)
    $('select').attr('disabled', true);
    $('button[type=submit]').attr('disabled', true);
  <% end %>

  $('#order_delivery_time').datetimepicker({
    autoclose: true,
    todayBtn: true,
    language: "zh"
  });
  $("#order_complete_time").datetimepicker({
    autoclose: true,
    todayBtn: true,
    language: "zh"
  });
  $("#order_delivery_time" ).datetimepicker( "option", "dateFormat", "yy-mm-dd" );
  $("#order_complete_time" ).datetimepicker( "option", "dateFormat", "yy-mm-dd" );
  var delivery_time = '<%= @order.delivery_time.try(:strftime, "%Y-%m-%d %H:%M") %>'
  if(delivery_time != null && delivery_time != ""){
    $("#order_delivery_time" ).val(delivery_time)
  }
  var complete_time = '<%= @order.complete_time.try(:strftime, "%Y-%m-%d %H:%M") %>'
  if(complete_time != null && complete_time != ""){
    $("#order_complete_time" ).val(complete_time)
  }
</script>