<div class="container main-content">
  <div class="page-title print-pdf-hide">
    <h1>
      订单详情
    </h1>
  </div>
  <center class="print-hide print-pdf-show">
    <h3>
      要货啦  送货单
    </h3>
    <h4>
      要货啦客服电话：400-0050-383
    </h4>
  </center>
  <div class="invoice">
    <div class="row delivered pdf-row">
      <div class="col-md-12">
        <div class="well pdf-well">
          <div class="row print-font-size">
            <div class="col-md-6 print-right">
              <p>
                订单编号：<%= @order.order_no %>
              </p>
              <p>
                客户：<%= @order.receive_name %>
              </p>
              <p>
                客户地址：<%= @order.get_address %>
              </p>
            </div>
            <div class="col-md-6 print-left">
              <p>
                创建时间：<%= time_show(@order.created_at) %>
              </p>
              <p>
                联系人：<%= @order.receive_name %>
              </p>
              <p>
                手机号：<%= @order.phone_num %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="widget-container fluid-height">
          <div class="widget-content padded clearfix">
            <table class="table table-striped invoice-table print-font-size">
              <thead>
                <th></th>
                <th>货物名称</th>
                <th>大分类</th>
                <th>规格</th>
                <th>数量</th>
                <th class="delivered">单价</th>
                <th class="delivered">金额</th>
              </thead>
              <tbody>
                <% @products.each do |category_id, products|%>
                  <tr>
                    <td class="text-center" colspan="7">
                      <%= Category.find(category_id).try(:name) %>
                    </td>
                  </tr>
                  <% products.each_with_index do |product, index| %>
                    <% orders_product = product.orders_products.find_by(order_id: @order.id) %>
                    <tr>
                      <td>
                        #<%= index + 1 %>
                      </td>
                      <td>
                        <%= product.name %>
                      </td>
                      <td>
                        <%= product.category.name %>
                      </td>
                      <td>
                        <%= product.spec %>
                      </td>
                      <td>
                        <%= orders_product.try(:product_num) %>
                      </td>
                      <td class="delivered">
                        &yen;<%= number_to_currency(orders_product.try(:product_price), unit: '') if orders_product.try(:product_price) %>
                      </td>
                      <td class="delivered">
                        &yen;<%= number_to_currency(orders_product.try(:product_price) * orders_product.try(:product_num).to_i, unit: '') if orders_product.try(:product_price) %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
              <tfoot class="delivered">
                <tr>
                  <td class="text-right" colspan="4">
                    <strong>商品总数</strong>
                  </td>
                  <td>
                    <%= @order.orders_products.sum(:product_num) %>
                  </td>
                  <td class="text-right">
                    <strong>商品总额</strong>
                  </td>
                  <td>
                    &yen;<%= number_to_currency(@order.order_money, unit: '') %>
                  </td>
                </tr>
                <!--tr>
                  <td class="text-right" colspan="4">
                    <strong>运费</strong>
                  </td>
                  <td>
                    &yen;90
                  </td>
                </tr>
                <tr>
                  <td class="text-right" colspan="4">
                    <strong>运费险</strong>
                  </td>
                  <td>
                    &yen;10
                  </td>
                </tr-->
                <tr>
                  <td class="text-right" colspan="6">
                    <h5 class="text-primary">
                      总计
                    </h5>
                  </td>
                  <td>
                    <h5 class="text-primary">
                      &yen;<%= number_to_currency(@order.order_money, unit: '') %>
                    </h5>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--div class="row">
      <div class="col-md-12">
        <div class="well">
          <div class="row">
            <div class="col-md-6">
              <p>
                送货人：
              </p>
            </div>
            <div class="col-md-6 print-left">
              <p>
                签收人：
              </p>
            </div>
          </div>
        </div>
      </div>
    </div-->
    <div class="row print-pdf-hide">
      <div class="col-lg-12">
        <div class="col-sm-1 pull-right">
          <a class="btn btn-default" onclick="javascript:history.go(-1);">返回</a>
        </div>
        <div class="col-sm-1 pull-right">
          <a class="btn btn-primary" id="all-order">打印订单</a>
        </div>
        <div class="col-sm-2 pull-right">
          <a class="btn btn-primary" id="delivered-order">打印调货单</a>
        </div>
      </div>
    </div>
  </div>
</div>
<style type="text/css" media="print" id="print"></style>
<script type="text/javascript">
$(function() {
  var print_all_button = $('#all-order');
  var print_delivered_button = $('#delivered-order');
  var printStyle  = $('#print');
  var title = $('.print-pdf-show');
  var style;

  print_all_button.click(function() {
    printStyle.text('');
    title.html('<h3>要货啦  送货单</h3><h4>要货啦客服电话：400-0050-383</h4>');
    window.print();
  });

  print_delivered_button.click(function() {
    style = '.delivered { display: none };';
    printStyle.text(style);
    title.html('<h3>要货啦  调货单</h3>');
    window.print();
  });
});
</script>
