<%= form_for([:admin,@detail_category],html: {class: "form-horizontal", role: "form", multipart: true}) do |f| %>
  <div class ="form-group">
    <label class="col-sm-2 control-label">类别名称:</label>
    <div class="col-sm-4">
      <%= f.text_field :name,class:"form-control"%>
    </div>
  </div>
  <div class ="form-group">
    <label class="col-sm-2 control-label">图片:</label>
    <div class="col-sm-4">
      <%= f.file_field :image,:multiple=>true,class:"form-control"%>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">排序:</label>
    <div class="col-sm-4">
      <%= f.text_field :sort, class: "form-control", maxlength: 5 %>
    </div>
    <label class="control-label">（值越大越排在前面）</label>
  </div>
  <div class ="form-group">
    <label class="col-sm-2 control-label">大类别:</label>
    <div class="col-sm-4">
      <% options = Category.order(:id).pluck(:name, :id) %>
      <%= f.select :category_id, options.insert(0,["选择大类别",""]), { selected: @detail_category.category_id }, id: 'detail_category_category_id', class: 'form-control' %>
    </div>
  </div>
  <div class ="form-group">
    <label class="col-sm-2 control-label">小类别:</label>
    <div class="col-sm-4">
      <%
        if @detail_category.category_id.present?
          options = SubCategory.where(category_id: @detail_category.category_id).order(:id).pluck(:name, :id)
        else
          options = [["选择小类别",""]]
        end
      %>
      <%= f.select :sub_category_id, options, { selected: @detail_category.sub_category_id }, id: 'detail_category_sub_category_id', class: 'form-control' %>
    </div>
  </div>
  <div class ="form-group">
    <label class="col-sm-2 control-label">类别描述:</label>
    <div class="col-sm-4">
      <%= f.text_field :desc,class:"form-control"%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-4">
      <button calss="btn btn-success" type="submit">
        <span class="glyphicon glyphicon-floppy-save">保存</span>
      </button>
      <button calss="btn btn-success" type="button" onclick="javascript:history.go(-1);">
        <span class="glyphicon glyphicon-hand-left">返回</span>
      </button>
    </div>
  </div>
<% end %>
<script type="text/javascript">
$("#detail_category_category_id").change(function(){
  var set_url = "<%= select_category_admin_detail_categories_url %>" + 
                "?category_id=" + $("[name='detail_category[category_id]']").val() + 
                "&id=detail_category_sub_category_id&name=detail_category[sub_category_id]&first_option=选择小类别";
  jQuery.ajax({
    type: "GET",
    url: set_url,
    dataType: "json",
    success: function(data){
      $('#detail_category_sub_category_id').html(data.html);
    }
  });
});
</script>
