<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header" style="width:20%">
    <a class="navbar-brand" style="color:aliceblue;margin-left:50px;width: 230px;">要货啦管理平台</a>
  </div>
  <div>
    <ul class="nav navbar-nav">
      <% if current_member_can_visit?('products') %>
        <li class="<%= 'nav-active' if controller_name == 'products' %>"><a href="/admin/products">产品管理</a></li>
      <% end %>
      <% if current_member_can_visit?('orders') %>
        <li class="<%= 'nav-active' if controller_name == 'orders' %>"><a href="/admin/orders">订单管理</a></li>
      <% end %>
      <% if current_member_can_visit?('users') %>
        <li class="<%= 'nav-active' if controller_name == 'users' %>"><a href="/admin/users">用户管理</a></li>
      <% end %>
      <% if current_member_can_visit?('promoters') %>
        <li class="<%= 'nav-active' if controller_name == 'promoters' %>"><a href="/admin/promoters">推广管理</a></li>
      <% end %>
      <% if current_member_can_visit?('addresses') %>
        <li class="<%= 'nav-active' if controller_name == 'addresses' %>"><a href="/admin/addresses">地址管理</a></li>
      <% end %>
      <% if current_member_can_visit?('adverts') %>
        <li class="<%= 'nav-active' if controller_name == 'adverts' %>"><a href="/admin/adverts">广告管理</a></li>
      <% end %>
      <% if current_member_can_visit?('units') %>
        <li class="<%= 'nav-active' if controller_name == 'units' %>"><a href="/admin/units">单位管理</a></li>
      <% end %>
      <% if current_member_can_visit?('categories') %>
        <li class="dropdown <%= 'nav-active' if %w(categories sub_categories hot_categories detail_categories).include?(controller_name) %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            类别管理
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/admin/categories">大类别</a></li>
            <li><a href="/admin/sub_categories">小类别</a></li>
            <li><a href="/admin/detail_categories">具体类别</a></li>
            <li><a href="/admin/hot_categories">热门类别</a></li>
          </ul>
        </li>
      <% end %>
      <% if current_member_can_visit?('product_admins') %>
        <li class="dropdown <%= 'nav-active' if controller_name == 'product_admins' %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            进货管理
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/admin/product_admins">进货列表</a></li>
            <li><a href="/admin/product_admins/statistics">进货统计</a></li>
          </ul>
        </li>
      <% end %>
      <% if current_member_can_visit?('deliverymen') %>
        <li class="dropdown <%= 'nav-active' if %w(deliverymen cars).include?(controller_name) %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            送货管理
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/admin/deliverymen">送货员管理</a></li>
            <li><a href="/admin/cars">车辆管理</a></li>
          </ul>
        </li>
      <% end %>
      <% if current_member_can_visit?('order_stat') %>
        <li class="<%= 'nav-active' if controller_name == 'order_stat' %>"><a href="/admin/order_stat">交易统计</a></li>
      <% end %>
      <% if current_member_can_visit?('product_stat') %>
        <li class="<%= 'nav-active' if controller_name == 'product_stat' %>"><a href="/admin/product_stat">销量统计</a></li>
      <% end %>
      <% if current_member_can_visit?('members') %>
        <li class="<%= 'nav-active' if controller_name == 'members' %>"><a href="/admin/members">账号管理</a></li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav pull-right" style="margin-right:25px">
      <% if member_signed_in? %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= current_member.name %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <% if current_member.admin? %>
              <li><%= link_to '注册管理员', new_member_registration_path %></li>
              <li><%= link_to '系统设置', system_setting_admin_member_path(current_member) %></li>
            <% end %>
            <li><%= link_to '个人信息', edit_member_registration_path %></li>
            <li><%= link_to '退出', destroy_member_session_path, method: :delete %></li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
      