<%= form_for([:admin,@category],html: {class: "form-horizontal", role: "form", multipart: true}) do |f| %>
  <div class ="form-group">
    <label class="col-sm-2 control-label">类别名称:</label>
    <div class="col-sm-4">
      <%= f.text_field :name,class:"form-control"%>
    </div>
  </div>
  <div class ="form-group">
    <label class="col-sm-2 control-label">图片:</label>
    <div class="col-sm-4">
      <%= f.file_field :image,:multiple=>true,class:"form-control"%>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">排序:</label>
    <div class="col-sm-4">
      <%= f.text_field :sort, class: "form-control", maxlength: 5 %>
    </div>
    <label class="control-label">（值越大越排在前面）</label>
  </div>
  <div class ="form-group">
    <label class="col-sm-2 control-label">简称:</label>
    <div class="col-sm-4">
      <%= f.text_field :desc,class:"form-control"%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-4">
      <button class="btn btn-success" type="submit">
        <span class="glyphicon glyphicon-floppy-save">保存</span>
      </button>
      <button class="btn btn-success" type="button" onclick="javascript:history.go(-1);">
        <span class="glyphicon glyphicon-hand-left">返回</span>
      </button>
    </div>
  </div>
<% end %>