<% content_for :title do %>
  产品列表
<% end %>
<h2 class="col-sm-offset-5">
   <a href="/admin/products">产品列表</a>
</h2>
<div class="row">
  <div class="col-sm-12">
    <%= search_form_for @q, url: {action: action_name}, class: 'form-inline', html: { method: :get } do |f| %>
      <div class="col-md-1 row pull-left">
        <%= link_to '添加产品', new_admin_product_path, class: 'btn btn-success' %>
      </div>
      <div class="col-md-10 row">
        <%= f.label '状态：' %>
        <% options = [['上架', 1], ['下架', 0]] %>
        <%= f.select :state_eq, options.insert(0,["全部",""]), {}, class: "form-control" %>
        <%= f.label '大类别：' %>
        <% category_options = Category.sorted.pluck(:name, :id) %>
        <%= f.select :category_id_eq, category_options.insert(0,["选择大类别",""]), {}, id: 'category_id', class: "form-control" %>
        <%= f.label '小类别：' %>
        <% sub_category_options = SubCategory.where(category_id: f.object.category_id_eq).sorted.pluck(:name, :id).unshift(['选择小类别', '']) %>
        <%= f.select :sub_category_id_eq, sub_category_options, {}, id: 'sub_category_id', class: "form-control" %>
        <%= f.label '具体类别：' %>
        <% detail_category_options = DetailCategory.where(sub_category_id: f.object.sub_category_id_eq).sorted.pluck(:name, :id).unshift(['选择具体类别', '']) %>
        <%= f.select :detail_category_id_eq, detail_category_options, {}, id: 'detail_category_id', class: "form-control" %>
        <%= f.label '产品名称：' %>
        <%= f.search_field :name_cont, class: 'input-medium', placeholder:"产品名称" %>
        <%= check_box_tag :by_stock_num, 'stock_num', params[:by_stock_num] == 'stock_num', class: "ace" %>
        <span class="lbl">按库存由小到大排序</span>
        <%= f.submit '查询', class: 'btn btn-primary' %>
      </div>
      <div class="col-md-1 row pull-right">
        <a href="#import-product" data-toggle="modal" class="btn btn-primary btn-sm">导入产品信息</a>
      </div>
    <% end %>
  </div>
</div>
<% if @products.present? %>
  <div class="panel panel-default margin-top-10">
    <table class="table table-hover table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>id</th>
          <th>产品名称</th>
          <th>具体类别</th>
          <th>状态</th>
          <th>单位</th>
          <th>销量</th>
          <th>库存数量</th>
          <th>现价</th>
          <th>每日限购数量</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td class="col-sm-3"><%= link_to product.name, image_admin_product_path(product) %></td>
            <td class="col-sm-1"><%= product.detail_category.try(:name) || '暂无' %></td>
            <td class="col-sm-1"><%= product.state == 1 ? '上架' : '下架' %></td>
            <td class="col-sm-1"><%= product.unit.try(:name) || '暂无' %></td>
            <td class="col-sm-1"><%= product.sale_count %></td>
            <td class="col-sm-1 <%= 'danger' if product.stock_num.to_i < product.safe_stock_num.to_i %>"><%= product.stock_num %></td>
            <td class="col-sm-1"><%= number_to_currency(product.price, unit: '') %></td>
            <td><%= product.restricting_num %></td>
            <td class="col-sm-2">
              <%= link_to "置顶", stick_top_admin_product_path(product), method: :post, data: { confirm: "确定将该产品置顶么？" } %>
              <%= link_to '详情', admin_product_path(product) %>
              <%= link_to '统计', statistics_admin_product_path(product) %> 
              <%= link_to '修改', edit_admin_product_path(product) %>
              <%= link_to '进货', new_stock_admin_product_path(product) %>
              <%= link_to '删除', admin_product_path(product), method: :delete, data: { confirm: '确定要删除吗？' } %> 
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @products %>
<% else %>
  <div class="col-sm-offset-2">
    <h2>暂无</h2>
  </div>
<% end %>
<script type="text/javascript">
$("#category_id").change(function(){
  var set_url = "<%= select_category_admin_products_url %>" + 
                "?category_id=" + $("#category_id").val() + 
                "&id=sub_category_id&name=q[sub_category_id_eq]&first_option=选择小类别&class_name=SubCategory";
  jQuery.ajax({
    type: "GET",
    url: set_url,
    dataType: "json",
    success: function(data){
      $('#sub_category_id').html(data.html);
    }
  });
});
$("#sub_category_id").change(function(){
  var set_url = "<%= select_category_admin_products_url %>" + 
                "?sub_category_id=" + $("#sub_category_id").val() + 
                "&id=detail_category_id&name=q[detail_category_id_eq]&first_option=选择具体类别&class_name=DetailCategory";
  jQuery.ajax({
    type: "GET",
    url: set_url,
    dataType: "json",
    success: function(data){
      $('#detail_category_id').html(data.html);
    }
  });
});
</script>

<div class="modal fade" id="import-product">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag '', enctype: 'multipart/form-data', remote: true do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">导入产品信息</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-block alert-success">
            文件大小不要超过1M
          </div>
          <div>
            <a href="/templates/product-info.csv">下载模板:product-info.csv</a>
          </div>
          <div class="fileupload fileupload-new" data-provides="fileupload">
            <span class="btn btn-primary btn-file">
              <span class="fileupload-new">选择文件</span>
              <span class="fileupload-exists">重新选择</span>
              <%= text_field_tag :file, '', type: :file, id: :import_csv %>
            </span>
            <span class="fileupload-preview"></span>
            <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="upload_csv" class="btn btn-primary btn-sm">提交</button>
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('#import_csv').change(function(event) {
        var fileName = $(this).val();
        if(!/\.csv$/i.test(fileName)) {
          alert('文件格式错误，请检查文件内容是否符合模板要求。');
        }
    });
    var $uploadBtn = $('#upload_csv');
    $uploadBtn.click(function(event) {
        var fileName = $('#import_csv').val();
        if(fileName.length === 0) {
          alert('请导入格式为.csv的文件');
          event.preventDefault();
          return false;
        } else if(!/\.csv$/i.test(fileName)) {
          alert('文件格式错误，请检查文件内容是否符合模板要求。');
          event.preventDefault();
          return false;
        } else if (typeof FileReader !== "undefined") {
          $uploadBtn.prop('disabled', true);
          var size = document.getElementById('import_csv').files[0].size;
          if(size > 1024 * 1024) {
            alert('上传文件不能大于1M，请重新上传。');
            event.preventDefault();
            return false;
          }
          var formdata = new FormData();
          var file = document.getElementById('import_csv').files[0];
          formdata.append("file", file, file.name);
          if($('#sync').is(':checked')) {
            formdata.append("sync", 1);
          }
          $.ajax({
            url: "<%= upload_csv_admin_products_url %>",
            type: 'POST',
            dataType: 'json',
            data: formdata,
            processData: false,
            contentType: false,
            success: function (data) {
              $uploadBtn.prop('disabled', false);
              if(data.error) {
                alert(data.message);
              } else {
                alert('文件上传成功，请稍后查看数据导入情况');
                location.reload();
              }
            }
          });
        }
    });

  });
</script>