<div class="container">
  <div class="col-sm-offset-3">
    <h2><%= @product_admin.new_record? ? '新建' : '编辑' %>进货单</h2>
  </div>
  <%= form_for([:admin,@product_admin],html: {class: "form-horizontal", role: "form", multipart: true}) do |f| %>
    <div class="form-group">
      <label class="col-sm-2 control-label">查询条件:</label>
      <div class="col-sm-2">
        <input type="radio" name="inline-radios" class="ace" value='0' checked>
        <span class="lbl">按产品名称</span>
      </div>
      <div class="col-sm-2">
        <input type="radio" name="inline-radios" class="ace" value='1'>
        <span class="lbl">按产品分类</span>
      </div>
    </div>
    <div class="form-group hidden">
      <label class="col-sm-2 control-label">大类别:</label>
      <div class="col-sm-4">
        <% options = Category.order(:id).pluck(:name, :id) %>
        <%= select_tag :category_id, options_for_select(options.insert(0,["选择大类别",""])), class: "form-control" %>
      </div>
    </div>
    <div class="form-group hidden">
      <label class="col-sm-2 control-label">小类别:</label>
      <div class="col-sm-4">
        <%= select_tag :sub_category_id, options_for_select([["选择小类别",""]]), class: "form-control" %>
      </div>
    </div>
    <div class="form-group hidden">
      <label class="col-sm-2 control-label">具体类别:</label>
      <div class="col-sm-4">
        <%= select_tag :detail_category_id, options_for_select([["选择具体类别",""]]), class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">产品名称:</label>
      <div class="col-sm-4">
        <%= text_field_tag :product_name, nil, class: "form-control" %>
      </div>
      <div class="col-sm-1">
        <button type="button" id="search_name" class="btn btn-primary btn-sm">查询</button>
      </div>
    </div>
    <div class ="form-group">
      <label class="col-sm-2 control-label">产品名称:</label>
      <div class="col-sm-4">
        <%
          if @product_admin.new_record?
            options = [["选择产品",""]]
          else
            options = [[@product_admin.product_name, @product_admin.product_id]]
          end
        %>
        <%= f.select :product_id, options, {}, id: 'product_admin_product_id', class: 'form-control' %>
        <%= f.hidden_field :product_name, value: @product_admin.product_name %>
      </div>
    </div>
    <div class ="form-group">
      <label class="col-sm-2 control-label">进货量:</label>
      <div class="col-sm-4">
        <%= f.text_field :product_num, class:"form-control" %>
      </div>
    </div>
    <div class ="form-group">
      <label class="col-sm-2 control-label">进货商:</label>
      <div class="col-sm-4">
        <%= f.text_field :stock_business, class:"form-control" %>
      </div>
    </div>
    <div class ="form-group">
      <label class="col-sm-2 control-label">进价:</label>
      <div class="col-sm-4">
        <%= f.text_field :stock_price, class:"form-control" %>
      </div>
    </div>
    <div class ="form-group">
      <label class="col-sm-2 control-label">进货时间:</label>
      <div class="col-sm-4">
        <%= f.text_field :stock_time, class: "form-control datetimepicker" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-4">
        <button class="btn btn-success" type="submit">
          <span class="glyphicon glyphicon-floppy-save">保存</span>
        </button>
        <button class="btn btn-success" type="button" onclick="javascript:history.go(-1);">
          <span class="glyphicon glyphicon-hand-left">返回</span>
        </button>
      </div>
    </div>
  <% end %>
</div>
<script type="text/javascript">
$('#product_admin_product_id').change(function(){
  $('#product_admin_product_name').val($(this).find(":selected").text());
});
$("#category_id").change(function(){
  var set_url = "<%= select_category_admin_products_url %>" +
                "?category_id=" + $("#category_id").val() +
                "&id=sub_category_id&name=sub_category_id&first_option=选择小类别&class_name=SubCategory";
  jQuery.ajax({
    type: "GET",
    url: set_url,
    dataType: "json",
    success: function(data){
      $('#sub_category_id').html(data.html);
    }
  });
});
$("#sub_category_id").change(function(){
  var set_url = "<%= select_category_admin_products_url %>" +
                "?sub_category_id=" + $("#sub_category_id").val() +
                "&id=detail_category_id&name=detail_category_id&first_option=选择具体类别&class_name=DetailCategory";
  jQuery.ajax({
    type: "GET",
    url: set_url,
    dataType: "json",
    success: function(data){
      $('#detail_category_id').html(data.html);
    }
  });
});
$("#detail_category_id").change(function(){
  var set_url = "<%= select_category_admin_products_url %>" +
                "?detail_category_id=" + $("#detail_category_id").val() +
                "&id=product_admin_product_id&name=product_admin[product_id]&first_option=选择产品&class_name=Product";
  jQuery.ajax({
    type: "GET",
    url: set_url,
    dataType: "json",
    success: function(data){
      $('#product_admin_product_id').html(data.html);
    }
  });
});
$("#search_name").click(function(){
  var set_url = "<%= search_product_admin_orders_url %>" +
                "?product_name=" + $("#product_name").val() +
                "&id=product_admin_product_id&name=product_admin[product_id]&first_option=选择产品&class_name=Product";
  jQuery.ajax({
    type: "GET",
    url: set_url,
    dataType: "json",
    success: function(data){
      $('#product_admin_product_id').html(data.html);
    }
  });
});
$('input:radio').click(function(event) {
  $('.form-group').removeClass('hidden');
  var $this=$(this);
  if ($this.val() == '0') {
    $('#category_id').parent().parent().addClass('hidden');
    $('#sub_category_id').parent().parent().addClass('hidden');
    $('#detail_category_id').parent().parent().addClass('hidden');
  } else {
    $('#product_name').parent().parent().addClass('hidden');
  }
});
</script>
<script type="text/javascript">
  $('#product_admin_stock_time').datetimepicker({
    autoclose: true,
    todayBtn: true,
    language: "zh"
  });
  $("#product_admin_stock_time" ).datetimepicker( "option", "dateFormat", "yy-mm-dd" );
  var stock_time = '<%= @product_admin.stock_time.try(:strftime, "%Y-%m-%d %H:%M") %>'
  if(stock_time != null && stock_time != ""){
    $("#product_admin_stock_time" ).val(stock_time)
  }
</script>
