<div class="container">
  <div class="col-sm-offset-3">
    <h2><%= @product_admin.new_record? ? '新建' : '编辑' %>进货单</h2>
  </div>
  <%= form_for([:admin,@product_admin],html: {class: "form-horizontal", role: "form", multipart: true}) do |f| %>
    <div class ="form-group">
      <label class="col-sm-2 control-label">搜索:</label>
      <div class="col-sm-2">
        <% options = Category.order(:id).pluck(:name, :id) %>
        <%= select_tag :product_admin_category_id, options_for_select(options.insert(0,["选择大类别",""]), ''), id: 'product_admin_category_id', class: "form-control" %>
      </div>
      <div class="col-sm-2">
        <%= select_tag :product_admin_sub_category_id, options_for_select([["选择小类别",""]], ''), id: 'product_admin_sub_category_id', class: "form-control" %>
      </div>
      <div class="col-sm-2">
        <%= select_tag :product_admin_detail_category_id, options_for_select([["选择具体类别",""]], ''), id: 'product_admin_detail_category_id', class: "form-control" %>
      </div>
    </div>
    <div class ="form-group">
      <label class="col-sm-2 control-label">产品名称:</label>
      <div class="col-sm-4">
        <%
          if @product_admin.new_record?
            options = [["选择产品",""]]
          else
            options = [[@product_admin.product_name, @product_admin.product_id]]
          end
        %>
        <%= f.select :product_id, options, {}, id: 'product_admin_product_id', class: 'form-control' %>
        <%= f.hidden_field :product_name, value: @product_admin.product_name %>
      </div>
    </div>
    <div class ="form-group">
      <label class="col-sm-2 control-label">进货量:</label>
      <div class="col-sm-4">
        <%= f.text_field :product_num, class:"form-control" %>
      </div>
    </div>
    <div class ="form-group">
      <label class="col-sm-2 control-label">进货商:</label>
      <div class="col-sm-4">
        <%= f.text_field :stock_business, class:"form-control" %>
      </div>
    </div>
    <div class ="form-group">
      <label class="col-sm-2 control-label">进价:</label>
      <div class="col-sm-4">
        <%= f.text_field :stock_price, class:"form-control" %>
      </div>
    </div>
    <div class ="form-group">
      <label class="col-sm-2 control-label">进货时间:</label>
      <div class="col-sm-4">
        <%= f.text_field :stock_time, class: "form-control datetimepicker" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-4">
        <button calss="btn btn-success" type="submit">
          <span class="glyphicon glyphicon-floppy-save">保存</span>
        </button>
        <button calss="btn btn-success" type="button" onclick="javascript:history.go(-1);">
          <span class="glyphicon glyphicon-hand-left">返回</span>
        </button>
      </div>
    </div>
  <% end %>
</div>
<script type="text/javascript">
$('#product_admin_category_id').change(function(){
  var set_url = "<%= select_category_admin_product_admins_url %>" + 
                "?category_id=" + $('#product_admin_category_id').val() + 
                "&id=product_admin_sub_category_id&name=product_admin[sub_category_id]&first_option=选择小类别&class_name=SubCategory";
  jQuery.ajax({
    type: "GET",
    url: set_url,
    dataType: "json",
    success: function(data){
      $('#product_admin_sub_category_id').html(data.html);
    }
  });
});
$('#product_admin_sub_category_id').change(function(){
  var set_url = "<%= select_category_admin_product_admins_url %>" + 
                "?sub_category_id=" + $('#product_admin_sub_category_id').val() + 
                "&id=product_admin_detail_category_id&name=product_admin[detail_category_id]&first_option=选择具体类别&class_name=DetailCategory";
  jQuery.ajax({
    type: "GET",
    url: set_url,
    dataType: "json",
    success: function(data){
      $('#product_admin_detail_category_id').html(data.html);
    }
  });
});
$('#product_admin_detail_category_id').change(function(){
  var set_url = "<%= select_category_admin_product_admins_url %>" + 
                "?detail_category_id=" + $('#product_admin_detail_category_id').val() + 
                "&id=product_admin_product_id&name=product_admin[product_id]&first_option=选择产品&class_name=Product";
  jQuery.ajax({
    type: "GET",
    url: set_url,
    dataType: "json",
    success: function(data){
      $('#product_admin_product_id').html(data.html);
    }
  });
});

$('#product_admin_product_id').change(function(){
  $('#product_admin_product_name').val($(this).find(":selected").text());
});
</script>
<script type="text/javascript">
  $('#product_admin_stock_time').datetimepicker({
    autoclose: true,
    todayBtn: true,
    language: "zh"
  });
  $("#product_admin_stock_time" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
  var stock_time = '<%= @product_admin.stock_time.try(:strftime, "%Y-%m-%d %H:%M") %>'
  if(stock_time != null && stock_time != ""){
    $("#product_admin_stock_time" ).val(stock_time)
  }
</script>