<% content_for :title do %>
  用户列表
<% end %>
<h2 class="col-sm-offset-5">
   <a href="/admin/users">用户列表</a>
</h2>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= search_form_for @q, url: {action: action_name}, class: 'form-inline', html: { method: :get } do |f| %>
        <div class="col-md-2 row pull-left">
          <%= link_to '添加用户', new_admin_user_path, class: 'btn btn-success' %>
        </div>
        <div class="col-md-10 row">
          <%= f.label '用户名：' %>
          <%= f.search_field :user_name_cont, class: 'input-medium', placeholder:"昵称" %>
          <%= f.label '电话：' %>
          <%= f.search_field :phone_cont, class: 'input-medium', placeholder:"电话" %>
          <%= check_box_tag :by_money, 'order_money', params[:by_money] == 'order_money', class: "ace" %>
          <span class="lbl">按用户订单金额排序</span>
          <%= f.submit '查询', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
  <% if @users.present? %>
    <div class="panel panel-default margin-top-10">
      <table class="table table-hover table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th>id</th>
            <th>用户名</th>
            <th>头像</th>
            <th>状态</th>
            <!--th>token</th-->
            <th>地址</th>
            <th>电话</th>
            <th>等级</th>
            <th>注册时间</th>
            <th>推广人员</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user|%>
            <tr>
              <td><%= user.id %></td>
              <td class="col-sm-1"><%= user.user_name %></td>
              <td class="col-sm-1"><%= image_tag get_image_url(user), size:"100x100" if user.images.present? %></td>
              <% if user.identification == 0 %>
                <td>未认证</td>
              <% else %>
                <td>认证</td>
              <% end %>
              <!--td class="col-sm-1"><%#= user.token %></td-->
              <td class="col-sm-4"><%= address_show(user.addresses.first) %></td>
              <td class="col-sm-1"><%= user.phone%></td>
              <td><%= user.rand %></td>
              <td class="col-sm-1"><%= time_show(user.created_at) %></td>
              <td class="col-sm-1"><%= user.promoter.try(:name) %></td>
              <td>
                <%= link_to '统计', user_statistics_admin_user_path(user) %>
                <%= link_to '修改', edit_admin_user_path(user) %>
                <%= link_to '删除', admin_user_path(user), method: :delete, data: { confirm: '确定要删除吗？' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @users %>
  <% else %>
    <div class="col-sm-offset-2">
      <h2>暂无</h2>
    </div>
  <% end %>
</div>